.header {
  background-color: #777;
  max-width: 600px;
  width: 100%;
<<<<<<< HEAD
}

.header__title {
  margin: 20px 0 20px 30px;
}

.header__link {
  margin: 0 0 5px 30px;
=======
  box-sizing: border-box;
  padding: 0 30px 10px;
}

.header__title {
  text-align: center;
  margin: 10px 0;
  color: #fff;
}

.header__button {
  text-decoration: none;
  color: #fff;
}

.header__button:hover {
  color: #f33;
  text-shadow: 1px 1px 1px rgba(255, 100, 100, .6);
  transition: all, .1s ease;
>>>>>>> 2bf2d3aa34c77745597307cf02e760369dea8165
}