.footer {
  background-color: aquamarine;
  color: #fff;
  font-size: 15px;
  max-width: 600px;
  width: 100%;
  padding: 0 20px;
  margin-top: auto;
}

.footer__copyright {
  box-sizing: border-box;
  /* margin: 20px 0; */
  /* padding-left: 30px; */
}